@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blog-item {
    @apply flex flex-col gap-6 lg:col-span-2;
  }
  .blog-item:first-of-type,
  .blog-item:nth-of-type(2) {
    @apply lg:col-span-3;
  }

  .pagin-item {
    @apply text-[#6B7280] text-lg leading-normal h-8 w-8 rounded-full border border-[#DADBDD] flex items-center justify-center transition-all duration-300 hover:border-transparent hover:bg-[#8447FF] hover:text-white hover:h-10 hover:w-10;
  }
  .pagin-item.active {
    @apply border-transparent bg-[#8447FF] text-white font-bold h-10 w-10;
  }
}

.hero-img {
  box-shadow: 0px 0px 0px 2px rgba(132, 71, 255, 0.5);
  @apply transition-all duration-1000;
}

.hero-img.active {
  box-shadow: 0px 0px 0px 2px rgba(132, 71, 255, 0.5),
    0px 0px 0px 300px rgba(132, 71, 255, 0.05),
    0px 0px 0px 250px rgba(132, 71, 255, 0.05),
    0px 0px 0px 200px rgba(132, 71, 255, 0.05),
    0px 0px 0px 150px rgba(132, 71, 255, 0.05),
    0px 0px 0px 100px rgba(132, 71, 255, 0.05),
    0px 0px 0px 50px rgba(132, 71, 255, 0.05);
}

.slider-testimonials .swiper-slide:hover {
  @apply border-[#7841E8] cursor-grab;
}

.anb-accordion.active {
  @apply border-[#8447FF] bg-white;
}
.anb-accordion.home.active {
  @apply border-[#E9E8E8];
}
.anb-accordion.active h3 {
  @apply lg:text-xl;
}
.anb-accordion.gry-bg.active {
  @apply border-transparent bg-[#F6F5F7];
}
.anb-accordion.gry-bg.active h3 {
  @apply lg:text-lg;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 !important;
}
.swiper-pagination {
  @apply p-3 rounded-full;
  width: fit-content !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-[#8447ff];
}

.network-card:nth-child(odd) > img {
  @apply lg:order-last;
}

.explore-content > div:nth-child(odd) {
  @apply lg:flex-row;
}
.explore-content > div:nth-child(even) {
  @apply lg:flex-row-reverse;
}

.explore-content > div:nth-child(odd) .explore-img-container {
  @apply lg:left-0;
}

.explore-content > div:nth-child(even) .explore-img-container {
  @apply lg:right-0;
}

.explore-content > div .explore-text-content {
  @apply lg:items-start lg:text-right;
}

.menu-dropdown.active .colored-act {
  @apply text-[#7841E8];
}

.menu-dropdown.active .colored-act > svg:not(.non-rotat) {
  @apply rotate-180;
}

.menu-dropdown.active .colored-act > svg path {
  @apply fill-[#8447FF];
}

.menu-dropdown-list {
  @apply w-full lg:absolute lg:opacity-0 lg:invisible lg:transition-all lg:duration-300 lg:right-0 top-20 lg:pt-10;
}

@media (min-width: 1024px) {
  .menu-dropdown-list {
    display: block !important;
  }
}
.menu-dropdown-list.small-menu.left-men {
  @apply lg:w-72 lg:left-0 lg:right-auto;
}

.menu-dropdown-list.small-menu.right-men {
  @apply lg:w-72;
}

.menu-dropdown-list.active {
  @apply opacity-100 visible top-[55px];
}

.menu-dropdown-list.small-menu.active {
  @apply top-7;
}

.mob-menu.active.active {
  @apply visible opacity-100;
}

.chevron.rotat {
  @apply rotate-180;
}

.filter-item {
  @apply rounded-full py-2 px-6 border border-[#D1D5DB] bg-white text-[13px] leading-[30px] shrink-0 font-bold cursor-pointer transition-all duration-300;
}

.filter-tw {
  @apply border-none bg-transparent text-[#6B7280] text-[13px];
}

.filter-srch {
  @apply shrink-0 border-b border-b-transparent p-4 text-[#838795] text-sm lg:text-base leading-normal lg:leading-normal cursor-pointer transition-all duration-300;
}

.filter-srch.active {
  @apply border-b-[#060404] border-transparent text-[#333745];
}

.filter-item.active,
.filter-item:hover {
  @apply bg-[#8447FF] border-transparent text-white;
}

.course-conrtent-item .item {
  @apply p-2 rounded-lg transition-all duration-300 flex items-center gap-2 lg:gap-3 odd:bg-[#F7FAFA] hover:bg-[#F3EDFF] hover:text-[#8447FF];
}

.course-conrtent-item .item svg path {
  @apply transition-all duration-300;
}

.course-conrtent-item .item:hover svg path {
  @apply stroke-[#8447FF];
}
.collapsed-txt.open {
  @apply line-clamp-none;
}
.iso-nav::-webkit-scrollbar {
  display: none;
}
.iso-nav {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.main-iso::-webkit-scrollbar {
  display: none;
}
.main-iso {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.licence-filt-item {
  @apply py-3 px-5 cursor-pointer bg-white flex items-center text-sm leading-tight gap-3 transition-all duration-300 border-b border-[#E9E8E8] last-of-type:border-none hover:bg-[#F8F4FF] text-[#6B7280] hover:text-[#8447FF];
}
.licence-filt-item.active {
  @apply bg-[#F8F4FF] text-[#8447FF] font-bold;
}

.licence-filt-item svg path {
  @apply transition-all duration-300;
}

.licence-filt-item.active svg path,
.licence-filt-item:hover svg path {
  @apply fill-[#8447FF];
}

.selected-filter {
  @apply text-[#8447FF] text-sm leading-[125%] font-bold;
}

.selected-filter svg path {
  @apply fill-[#8447FF];
}

.swiper-slide {
  @apply transition-colors duration-500;
}
.events .swiper-pagination {
  @apply absolute left-5 bottom-5;
}

/* slider in home page hero section  */
.slider-certificate .swiper-slide:nth-child(6n + 1) > a {
  @apply -rotate-4 bg-[#FFE0E0];
}
.slider-certificate .swiper-slide:nth-child(6n + 2) > a {
  @apply rotate-4 bg-[#EBE0FF];
}
.slider-certificate .swiper-slide:nth-child(6n + 3) > a {
  @apply rotate-2 bg-[#E5FFE0];
}
.slider-certificate .swiper-slide:nth-child(6n + 4) > a {
  @apply -rotate-3 bg-[#FFF3E0];
}
.slider-certificate .swiper-slide:nth-child(6n + 5) > a {
  @apply -rotate-5 bg-[#FFE2E0];
}
.slider-certificate .swiper-slide:nth-child(6n + 6) > a {
  @apply rotate-4 bg-[#FFE0F8];
}
.search-result-container {
  @apply fixed transition-all duration-300 top-0 left-0 w-full h-full bg-[#aaaeb299] backdrop-blur-lg z-50 flex items-center justify-center py-12 px-[30px] lg:py-40 invisible opacity-0;
}
.search-result-container.active {
  @apply visible opacity-100;
}
.course-container .courses-items {
  @apply flex flex-col gap-6 lg:col-span-3;
}
.course-container .filt-items-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[30px] lg:gap-y-12;
}
.course-container.active .course-list-heding {
  @apply invisible;
}
.course-container.active .courses-items {
  @apply lg:col-span-2;
}
.course-container.active .courses-items .filt-items-container {
  @apply lg:grid-cols-2;
}
.course-container .filter-courses-listing {
  @apply invisible opacity-0 w-0 h-0  transition-all duration-300;
}
.course-container.active .filter-courses-listing {
  @apply visible opacity-100 w-auto h-auto;
}
.all-filts {
  @apply fixed lg:static -bottom-20 left-0 h-screen w-full z-50 invisible opacity-0 transition-all duration-300;
}
.course-container.active .all-filts {
  @apply visible opacity-100 bottom-0;
}

.swiper-pagination.events-pagination {
  @apply left-8 bottom-3;
}
/* scroll bar  */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #838795;
  border-radius: 20px;
}

.form-radio {
  @apply appearance-none rounded-full border border-[#B9C0D4] cursor-pointer checked:border-[#8447FF] checked:bg-[url(../images/radio.svg)] bg-contain bg-center bg-no-repeat outline-none w-6 h-6 focus:ring-transparent;
}

.form-checkbox {
  @apply cursor-pointer appearance-none  rounded border border-[#E2E2E9] checked:border-transparent checked:bg-[url(../images/Checkboxes.svg)] bg-cover bg-center bg-no-repeat outline-none w-5 h-5 focus:ring-transparent;
}

.progress-fill-line {
  @apply absolute w-3/4 h-full right-0 top-0 rounded-full bg-[#8447FF] overflow-hidden after:content-[''] after:absolute after:w-[142%] after:h-full after:bg-progrees-bar after:bg-progrees-size after:animate-progress-anmi;
}
