@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img {
  box-shadow: 0px 0px 0px 2px rgba(132, 71, 255, 0.5);
  @apply transition-all duration-1000;
}

.hero-img.active {
  box-shadow: 0px 0px 0px 2px rgba(132, 71, 255, 0.5),
    0px 0px 0px 300px rgba(132, 71, 255, 0.05),
    0px 0px 0px 250px rgba(132, 71, 255, 0.05),
    0px 0px 0px 200px rgba(132, 71, 255, 0.05),
    0px 0px 0px 150px rgba(132, 71, 255, 0.05),
    0px 0px 0px 100px rgba(132, 71, 255, 0.05),
    0px 0px 0px 50px rgba(132, 71, 255, 0.05);
}

.slider-testimonials .swiper-slide:hover {
  @apply border-[#7841E8] cursor-grab;
  box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.1);
}

.anb-accordion.active {
  @apply border-[#8447FF] bg-white;
}
.anb-accordion.home.active {
  @apply border-[#E9E8E8] ;
}
.anb-accordion.active h3 {
  @apply lg:text-xl;
}
.anb-accordion.gry-bg.active {
  @apply border-transparent bg-[#F6F5F7];
}
.anb-accordion.gry-bg.active h3 {
  @apply lg:text-lg;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 !important;
}
.swiper-pagination {
  @apply p-3 rounded-full;
  width: fit-content !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-[#8447ff];
}

.network-card:nth-child(odd) > img {
  @apply lg:order-last;
}

.explore-content > div:nth-child(odd) {
  @apply lg:flex-row;
}
.explore-content > div:nth-child(even) {
  @apply lg:flex-row-reverse;
}

.explore-content > div:nth-child(odd) .explore-img-container {
  @apply lg:left-0;
}

.explore-content > div:nth-child(even) .explore-img-container {
  @apply lg:right-0;
}

.explore-content > div .explore-text-content {
  @apply lg:items-start lg:text-right;
}

.menu-dropdown.active .colored-act {
  @apply text-[#7841E8];
}

.menu-dropdown.active .colored-act > svg:not(.non-rotat) {
  @apply rotate-180;
}

.menu-dropdown.active .colored-act > svg path {
  @apply fill-[#8447FF];
}

.menu-dropdown-list {
  @apply w-full lg:absolute lg:opacity-0 lg:invisible lg:transition-all lg:duration-300 lg:right-0 top-20 lg:pt-10;
}

@media (min-width: 1024px) {
  .menu-dropdown-list {
    display: block !important;
  }
}
.menu-dropdown-list.small-menu.left-men {
  @apply lg:w-72 lg:left-0 lg:right-auto;
}

.menu-dropdown-list.small-menu.right-men {
  @apply lg:w-72;
}

.menu-dropdown-list.active {
  @apply opacity-100 visible top-[55px];
}

.menu-dropdown-list.small-menu.active {
  @apply top-7;
}

.mob-menu.active.active {
  @apply visible opacity-100;
}

.chevron.rotat {
  @apply rotate-180;
}

.filter-item {
  @apply rounded-full py-2 px-6 border border-[#D1D5DB] bg-white text-[13px] leading-[30px] shrink-0 font-bold cursor-pointer transition-all duration-300;
}
.filter-item.active,
.filter-item:hover {
  @apply bg-[#8447FF] border-transparent text-white;
}

.iso-nav::-webkit-scrollbar {
  display: none;
}
.iso-nav {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
