@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img {
  box-shadow: 0px 0px 0px 2px rgba(132, 71, 255, 0.5);
  @apply transition-all duration-1000;
}

.hero-img.active {
  box-shadow: 0px 0px 0px 2px rgba(132, 71, 255, 0.5),
    0px 0px 0px 300px rgba(132, 71, 255, 0.05),
    0px 0px 0px 250px rgba(132, 71, 255, 0.05),
    0px 0px 0px 200px rgba(132, 71, 255, 0.05),
    0px 0px 0px 150px rgba(132, 71, 255, 0.05),
    0px 0px 0px 100px rgba(132, 71, 255, 0.05),
    0px 0px 0px 50px rgba(132, 71, 255, 0.05);
}

.slider-testimonials .swiper-slide:hover {
  @apply border-[#7841E8] cursor-grab;
  box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-list-items {
  @apply lg:absolute lg:opacity-0 lg:invisible transition-all duration-300;
}

.dropdown-list-items.active {
  @apply opacity-100 visible top-[55px];
}

.dropdown-list.colored-act.active > span {
  @apply text-[#7841E8] font-bold;
}

.dropdown-list.colored-act.active > svg {
  @apply rotate-180;
}

.dropdown-list.colored-act.active > svg path {
  @apply fill-[#8447FF];
}

.anb-accordion.active {
  @apply border-[#8447FF] bg-white;
}
.anb-accordion.active h3 {
  @apply lg:text-xl;
}
.anb-accordion.gry-bg.active {
  @apply border-transparent bg-[#F6F5F7];
}
.anb-accordion.gry-bg.active h3{
  @apply lg:text-lg;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 0 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-[#8447ff];
}

.mob-menu.active {
  @apply visible opacity-100;
}

.network-card:nth-child(odd) > img {
  @apply lg:order-last;
}

.explore-content > div:nth-child(odd) {
  @apply lg:flex-row;
}
.explore-content > div:nth-child(even) {
  @apply lg:flex-row-reverse;
}

.explore-content > div:nth-child(odd) .explore-img-container {
  @apply lg:left-0;
}

.explore-content > div:nth-child(even) .explore-img-container {
  @apply lg:right-0;
}

.explore-content > div:nth-child(odd) .explore-text-content {
  @apply lg:items-start lg:text-right;
}
.explore-content > div:nth-child(even) .explore-text-content {
  @apply lg:items-end lg:text-left;
}
